{% extends "pizzas/base.html" %}

{% block page_header %}
    <h2>{{ pizza }}</h2>
{% endblock page_header %}

{% block content %}
<p>
    {% if pizza.header_image %}
    <img class="img-responsive" src="{{ pizza.header_image.url }}">
    {% endif %}
    </br /><br />
</p>




{% block header %}
    <h4>{{ pizza}} toppings </h4>
{% endblock header %}


    <ul>   
    {% for topping in toppings %}
    <div class="card mb-3">
        <h4 class="card-header">
        {{topping.name|linebreaks}}
        <small><a href="{% url 'pizzas:edit_topping' topping.id %}">Edit topping</a></small>
        </h4>
    </div>
    {% empty %}
    
    <p> no toppings for this yet.</p>
    
    {% endfor %}
</ul>
<p>
    <a href="{% url 'pizzas:new_topping' pizza.id %}">Add a new topping</a>
</p>
<ul>

    {% for comment in comments %}
    <div class="card mb-6">
        <h4 class="card-header">
        {{ comment.name|linebreaks }}
        </h4>
    </div>
    {% empty %}

    <li>No comments for this pizza have been added yet.</li>

    {% endfor %}

    </li>

</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %} 
