{% extends "pizzas/base.html" %}

{% block page_header %}
    <h2>{{ pizza }}</h2>
{% endblock page_header %}

<body>
    <div class="container-fluid">
        <h3>Who Am I?</h3>
        <img src="bird.jpg" alt="Bird">
        <h3>I'm an adventurer</h3>
      </div>
</body>
{% block content %}

{% block header %}
    <h4>{{ pizza}} toppings </h4>
{% endblock header %}


    <ul>   
    {% for t in toppings %}
    <div class="card mb-3">
        <h4 class="card-header">
        {{t.name|linebreaks}}
        <small><a href="{% url 'pizzas:edit_topping' t.id %}">Edit topping</a></small>
        </h4>
    </div>
    {% empty %}
    
    <p> no toppings for this yet.</p>
    
    {% endfor %}
</ul>
<p>
    <a href="{% url 'pizzas:new_topping' pizza.id %}">Add a new topping</a>
</p>
<ul>

    {% for comment in comments %}
    <div class="card mb-6">
        <h4 class="card-header">
        {{ comment.name|linebreaks }}
        </h4>
    </div>
    {% empty %}

    <li>No comments for this pizza have been added yet.</li>

    {% endfor %}

    </li>

</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %} 
